<header class="header">
    <div class="handle"></div>
    <div class="logo">
        <span class="glyphicon glyphicon-cloud"></span>
    </div>
    <div class="dropdown">
        <a class="btn btn-primary add-widget" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-plus-sign"></span> Add widget</a>
        <ul class="dropdown-menu dropdown-menu-right widgets" role="menu" aria-labelledby="dLabel">
        </ul>
    </div>
    <input type="text" value="Mon nuage" class="name">
    <div class="buttons">
        <span class="quit"></span>
        <span class="minimize"></span>
        <span class="maximize"></span>
    </div>
</header>
