<div class="widget {{slug}} widget-{{id}}" data-id="{{id}}" data-slug="{{slug}}">
    <header>
        {{name}}
        <a href="#" class="handle"><span class="glyphicon glyphicon-th"></span></a>
    </header>
    <div class="content">
        <table class="table table-striped favorites">
            <tr>
                <th colspan="2">Favorites</th>
            </tr>
        </table>
        <table class="table table-striped defaults">
            <tr>
                <th colspan="2">Defaults</th>
            </tr>
        </table>
    </div>
</div>
