body {background:#f0f0f0;cursor:default;padding-top:34px;}
body {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
hr {border-top-color:#DADADA;}

header.header {position:fixed;top:0;left:0;width:100%;height:34px;background:#fff;z-index:10;}
header.header .buttons {position:absolute;top:10px;left:10px;height:12px;line-height:0;}
header.header .buttons span {display:inline-block;width:12px;height:12px;margin-right:2px;border-radius:6px;background:#000;cursor:pointer;}
header.header .buttons .quit {background:#DD6868;}
header.header .buttons .minimize {background:#FFE24C;}
header.header .buttons .maximize {background:#C3E766;}
header.header .handle {position:absolute;top:0px;left:0;right:0;height:100%;}

section.connection {padding:10px 20px;}

section.sequences {padding:10px 20px;}

section.ambient {padding:10px 20px;}
section.ambient canvas {margin:0 0 10px 0;}
section.ambient .list {margin:10px 0 0 0;line-height:0;}
section.ambient .list .items {padding:10px 0;}
section.ambient .list .item {display:inline-block;width:30px;height:30px;line-height:33px;margin:0 2px 4px 2px;background:#f00;text-align:center;cursor:pointer;}
section.ambient .list .item span {display:none;color:#fff;}
section.ambient .list.remove .item span {display:inline;}