header {position:fixed;top:0;left:0;width:100%;height:100px;background:#eee;}
header img.logo {position:absolute;top:10px;left:10px;}
header .dropdown {position:absolute;top:30px;left:140px;}
header input[type=text] {position:absolute;top:20px;right:30px;background:none;border:none;padding:0;margin:0;font-size:40px;line-height:40px;text-align:right;}
